// @media(min-width 1084px)
//     .center
//         position absolute


.main-modify-success
    padding-top 125px
    .score
        margin-bottom 20px
        width 180px
        height 180px
        border-radius 50%
        background #3386ff
        text-align center
        line-height 180px
        font-size 76px
        color #ffffff
        span
            padding-left 40px
            background  url('../img/a06fbb27707dae4c9a3a76018009f68a-31+31.png') left center/31px auto no-repeat
    p
        font-size 36px
        color #8b8b8b
        text-align center
        line-height 50px
    .pic
        img
            display block
            width 1053px
    .tips
        padding 40px 0 30px
        max-width 917px
        margin 0 auto
        font-size 30px
        color #969696
        line-height 44px
        a
            color #556adc
    .btn-compelete
        display block
        margin 0 auto
        max-width 917px
        height 126px
        line-height 126px
        text-align center
        font-size 48px
        color #ffffff
        background #ff8635

.mian-my-rank
    .rank
        padding 0 80px
        height 400px
        background #3386ff url('../img/3c3659feaa139c4fa7eec616fa562ef2-238+333.png') right 200px center/238px auto no-repeat
        
        h3
            padding 100px 0 40px
            font-size 88px
            color #ffffff
            line-height 1
        p
            line-height 1
            font-size 40px
            color #b1caff
    .list
        li
            position relative
            float none
            padding-left 80px
            height 215px
            display flex
            align-items center
            justify-content flex-start
            border-bottom 1px solid #f2f2f2
            &.layout
                &:after
                    content ''
                    position absolute
                    bottom -1px
                    left 0
                    right 0
                    top 0
                    background rgba(#252525,0.7)
            div
                margin 0
        .pic
            img
                display block
                width 145px
                border-radius 50%
        .content
            position relative
            flex 1 1 auto
            padding-left 45px
        .tips
            position absolute
            height 78px
            padding 0 30px
            border-radius 39px
            border 1px solid #a0a0a0
            box-sizing content-box
            line-height 78px
            right 50px
            top 50%
            font-size 28px
            color #b2b2b2
            transform translateY(-50%)
        .name
            font-size 45px
            color #030303
            line-height 1
        p
            padding-top 20px
            font-size 34px
            color #919192
            .red
                color #fd42b5
            .green
                color #56cd0e
        .first-pic
            display flex
            align-items center
            justify-content center
            width 120px
            height 100%
            box-sizing border-box
            padding-right 35px
            text-align center
            font-size 40px
            color #464646
            img
                display block
                width 86px 

.main-sale
    h3
        padding 120px 0 60px
        font-size 87px
        color #ffffff
        text-align center
        line-height 1
    .sale-container
        margin 0 auto
        width 1029px
        min-height 1000px
        box-sizing border-box
        border-radius 15px
        padding 60px
        font-size 40px
        color #040404
        line-height 60px
        background #ffffff

.main-return-back
    border-bottom 1px solid #bcb8b8
    display flex
    align-items center
    justify-content space-between
    height 127px
    padding-right 23px
    &.color-white
        border-bottom-color #bcb8b8
        .back
            color #ffffff
            background-image url('../img/bb07b22f10db14f9541da672aaa5dbc2-20+49.png')
    &.bg3386ff
        background #3386ff
    .back
        height 127px
        line-height 127px
        color #393939
        padding-left 100px
        font-size 48px
        background url('../img/81c371049474986eb6e824fb80897cae-23+49.png') 44px center/23px auto no-repeat
    .menu
        img
            display block
            width 220px
.mobile-wrap
    &.bglinear-geadient
        background linear-gradient(270deg,rgba(#0059c8,0.72) ,rgba(#3b72e3,0.72))



.footer-menu-block
    height calc(182px + 1Px);

.footer-menu
    border-top 1px solid #eaecee
    position fixed
    bottom 0
    left 0
    right 0
    height 182px
    display flex
    background #ffffff
    @media(min-width 750px)
        left 50%
        width 750Px
        transform translateX(-50%)
        right auto
    .item
        flex 1
        text-align center
        &:hover
        &.active
            span
                color #338edc
            .icon-1
                background-image url('../img/95e7c34bff4f8781e605c9fcb1b5ce4e-61+68.png')
            .icon-2
                background-image url('../img/7019d4fde06a00a0d00e800bf4ed2f4a-58+57.png')
            .icon-3
                background-image url('../img/caab0666540852e912e6ac178ec71e0c-56+61.png')
        span
            display block
            font-size 36px
            color #a5a5a5
            transition 0.3s
        .text
            padding-top 15px
            line-height 1
        .icon
            margin-top 15px
            height 95px
            background url('../img/141480b3a8fba33bfa36a9b7d43b9e7c-61+68.png') center center/ 60px auto no-repeat
        .icon-2
            background-image url('../img/9329905543182746691df213930aff87-58+57.png')
            background-size 58px auto
        .icon-3
            background-image url('../img/fce81698a73adb50880b1f2737844f93-56+61.png')
            background-size 56px auto
            
        
@media(min-width 750px)
    .mobile-wrap
        position absolute
        left 50%
        right auto
        width 750Px!important
        margin-left -375Px!important